.search-form {
    width: 100%;
    margin-bottom: 20px;
}
.search-bar {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .search-form {
        max-width: 480px;
        margin: 0 auto
    }
}